<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <_TargetId>Folder</_TargetId>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishUrl>/Users/Working/Agent/Publish/PaymentCenter/api/</PublishUrl>
    <PublishDir>/Users/Working/Agent/Publish/PaymentCenter/api/</PublishDir>
  </PropertyGroup>
</Project>
